
<div class="container">
    <div class="row">
        <div *ngIf="applicants">
            <div class="row table-responsive">
              <table class="table table-bordered">
                    <thead class="">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone No</th>
                            <th>Mobile No</th>
                            <th>CurrentJob</th>
                            <th>EXP Abroad</th>
                            <th>Qualificatiion</th>
                            <th>Joining</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let applicant of applicants">
                            <td>{{applicant.name}}</td>
                            <td>{{applicant.email}}</td>
                            <td>{{applicant.phoneNumber}}</td>
                            <td>{{applicant.mobileNumber}}</td>
                            <td>{{applicant.describeCurrentJob}}</td>
                            <td>{{applicant.expAbroad}}</td>
                            <td>{{applicant.qualifications}}</td>
                            <td>{{applicant.joiningPeriod}}</td>
                            <td>
                                <a><i class="fa fa-wpforms" aria-hidden="true"></i></a>
                                <a click="getApplicantsResume(applicant)"><i class="fa fa-download" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
<style>
a{
    margin:5px;
}
a i{
    cursor: pointer;
}
</style>